/* SOURCE: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_image_magnifier_glass */
.img-magnifier-container {
	position:relative;
	border: 4px solid #000;
	border-radius: 5px;
}
.img-magnifier-glass {
  position: absolute;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
  z-index:999;
  display: block;
}